# 文字コード：UTF-8

# http://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: Google

# C++バージョン設定
Standard: c++17

# アクセス修飾子の（-数字でインデントしない）
AccessModifierOffset: -4

# インデント幅
IndentWidth: 4

# 文の途中で改行した場合のインデント幅
ContinuationIndentWidth: 4

# １行の文字数制限（0で制限なし）
ColumnLimit: 0

# 連続空行数
MaxEmptyLinesToKeep: 1

# コメントを縦に整列させるか
AlignTrailingComments: false

# 行末コメントの前に入れるスペース数
SpacesBeforeTrailingComments: 1

# コメントを最大の列数に応じて自動改行させるか
ReflowComments: false

# １行での関数記述を許可する種類の指定
# InlineOnly: インライン関数のみ1行での記述を許可
AllowShortFunctionsOnASingleLine: InlineOnly

# 継承の改行位置
BreakInheritanceList: BeforeComma

# 関数宣言や定義の戻り値の後ろでの改行指定
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 1000000

# 関数引数の改行後のインデント指定
AlignAfterOpenBracket: AlwaysBreak

# 関数の呼び出し引数の記述
# false: 全て１行にするか全て改行する
BinPackArguments: false

# 関数宣言や定義の引数の記述
# false: 全て１行にするか全て改行する
BinPackParameters: false

# コンストラクタ
## ConstructorInitializerAllOnOneLineOrOnePerLine が true のとき
## メンバ初期化リストが１行に収まらない場合に１回の改行だけで収まるならそれを許可するか
AllowAllConstructorInitializersOnNextLine: false
## メンバ初期化子の改行スタイル
## BeforeComma: コロンとカンマの手前で改行
BreakConstructorInitializers: BeforeComma
## コンストラクタ初期化子を１行に１つだけにするか
ConstructorInitializerAllOnOneLineOrOnePerLine: false
## コンストラクタ初期化子のインデント幅
ConstructorInitializerIndentWidth: 0
## コンストラクタ初期化子のコロンの前に空白を挿入するか
SpaceBeforeCtorInitializerColon: true

# 一様初期化子の波括弧の前後の空白を除去するか
Cpp11BracedListStyle: false

# case でインデントするか
IndentCaseLabels: false

# 短い case 文は１行にまとめて書くことを許可するか
AllowShortCaseLabelsOnASingleLine: true

# 改行許可
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

# 三項演算子の前で改行するか
BreakBeforeTernaryOperators: true

# テンプレート引数の括弧内スペースを入れるか
SpacesInAngles: false

# テンプレート宣言の後で複数行のであれば改行するか
AlwaysBreakTemplateDeclarations: Yes

# 中括弧の改行スタイル
BreakBeforeBraces: Custom
BraceWrapping:
    AfterCaseLabel: true
    AfterControlStatement: Never
    AfterEnum: true
    AfterFunction: true
    AfterNamespace: false
    AfterStruct: true
    AfterUnion: true
    AfterExternBlock: true
    BeforeCatch: true
    BeforeElse: false
    # BeforeLamdaBody: false
    BeforeWhile: false
    IndentBraces: false
    SplitEmptyFunction: true
    SplitEmptyRecord: true
    SplitEmptyNamespace: true

# 小括弧の整列スタイル
# DontAlign: 整列しない
AlignAfterOpenBracket: DontAlign
